CompanyManagementClient/CompanyManagementClient/Service References/CompanyManagementServiceReference/CompanyMangementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompanyMangementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/CompanyManagement?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/CompanyManagement?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/CompanyManagement?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayerEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyMangementService_DeleteTechnology_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTechnology" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_DeleteTechnology_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTechnologyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_AssignTechnologyToTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignTechnologyToTask" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_AssignTechnologyToTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignTechnologyToTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_AddProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProject" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_AddProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_AssignEmployeeToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignEmployeeToProject" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_AssignEmployeeToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignEmployeeToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_CreateTaskInProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskInProject" />
  </wsdl:message>
  <wsdl:message name="ICompanyMangementService_CreateTaskInProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskInProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyMangementService">
    <wsdl:operation name="DeleteTechnology">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyMangementService/DeleteTechnology" message="tns:ICompanyMangementService_DeleteTechnology_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyMangementService/DeleteTechnologyResponse" message="tns:ICompanyMangementService_DeleteTechnology_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignTechnologyToTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyMangementService/AssignTechnologyToTask" message="tns:ICompanyMangementService_AssignTechnologyToTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyMangementService/AssignTechnologyToTaskResponse" message="tns:ICompanyMangementService_AssignTechnologyToTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyMangementService/AddProject" message="tns:ICompanyMangementService_AddProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyMangementService/AddProjectResponse" message="tns:ICompanyMangementService_AddProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AssignEmployeeToProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyMangementService/AssignEmployeeToProject" message="tns:ICompanyMangementService_AssignEmployeeToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyMangementService/AssignEmployeeToProjectResponse" message="tns:ICompanyMangementService_AssignEmployeeToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyMangementService/DeleteTask" message="tns:ICompanyMangementService_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyMangementService/DeleteTaskResponse" message="tns:ICompanyMangementService_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyMangementService/DeleteProject" message="tns:ICompanyMangementService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyMangementService/DeleteProjectResponse" message="tns:ICompanyMangementService_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTaskInProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyMangementService/CreateTaskInProject" message="tns:ICompanyMangementService_CreateTaskInProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyMangementService/CreateTaskInProjectResponse" message="tns:ICompanyMangementService_CreateTaskInProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyMangementService" type="tns:ICompanyMangementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteTechnology">
      <soap:operation soapAction="http://tempuri.org/ICompanyMangementService/DeleteTechnology" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTechnologyToTask">
      <soap:operation soapAction="http://tempuri.org/ICompanyMangementService/AssignTechnologyToTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <soap:operation soapAction="http://tempuri.org/ICompanyMangementService/AddProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignEmployeeToProject">
      <soap:operation soapAction="http://tempuri.org/ICompanyMangementService/AssignEmployeeToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/ICompanyMangementService/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://tempuri.org/ICompanyMangementService/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTaskInProject">
      <soap:operation soapAction="http://tempuri.org/ICompanyMangementService/CreateTaskInProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyMangementService">
    <wsdl:port name="BasicHttpBinding_ICompanyMangementService" binding="tns:BasicHttpBinding_ICompanyMangementService">
      <soap:address location="http://localhost:8080/CompanyManagement/home" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>