CompanyManagementClient/CompanyManagementClient/Service References/CompanyManagementServiceReference/CompanyManagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLayerEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLayerEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BOProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentMasterId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMasterId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BOProject" nillable="true" type="tns:BOProject" />
  <xs:complexType name="BOTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="TechnologyMasterId" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BOTask" nillable="true" type="tns:BOTask" />
</xs:schema>